<!DOCTYPE html>
<html>
    <head>
        <title>Todo list</title>
    </head>
    <body>

            <table border="1">
                <caption>Tasks</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task:${tasks}">
                        <td th:text="${task.id}"></td>
                        <td th:text="${task.description}"></td>
                        <td th:text="${task.status}"></td>
                        <td>
                            <button>edit</button>
                        </td>
                        <td>
                            <form method="post" action="#" th:action="@{/tasks/{id1}(id1=${task.id})}">
                                <button type="submit">delete</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Add new task
                        </td>
                    </tr>
                    <form action="#" th:action="@{/tasks}" th:object="${forCreate}" method="post">
                        <tr>
                            <td>-</td>
                            <td>
                                <div>
                                    <input type="text" th:field="*{description}"/>
                                </div>
                            </td>
                            <td>
                                <select th:field="*{status}">
                                    <option th:each="s : ${allStatuses}"
                                            th:value="${s}"
                                            th:text="${s}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" name="save">save</button>
                            </td>
                            <td></td>
                        </tr>
                    </form>
                </tbody>
            </table>
            <br>
            <div th:if="${result!=null && result.hasFieldErrors('description')}" style="color: red; font-weight: bold;">
                <div>Description:</div>
                <ul c>
                    <li th:each="e:${result.getFieldErrors('description')}" th:text="${e.getDefaultMessage()}"></li>
                </ul>
            </div>

    </body>
</html>
